* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 30px;
    height: 100%;
}


body {
   display: flex;
   flex-direction: column;
   height: 100%;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    overflow: auto;
}

#menu {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    flex-wrap: wrap;
}

header {
    padding: 0.5rem 1rem;
    background-color: #d9e8ec;
}

main {
    background-color: #f5f8f9;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

}

footer {
    padding: 0.5rem;
    text-align: right;
    background-color: #d9e8ec;
    box-shadow:  0px 10px 20px 10px rgba(0, 0, 0, 0.3);

}

.wrap {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex {
    display: flex;
}

.autrhorPhoto {
    width: 7rem;
    height: auto;
    border-radius: 0.3rem;
}

.flexGrow1 {
    flex-grow: 1;
}

.aboutMe {
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #d9e8ec;
    text-align: center;
}


.aboutMe h2 {
    margin: .5rem 1rem;
}

.aboutMe p {
    margin: 1rem;
}

.aboutMe a {
    text-decoration: none;
    background-color: #f5f8f9;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.aboutMe a:hover {
    opacity: 0.8;
}

.kanban {
    display: flex;
}

.kanban_element {
    padding: 30px;
    width: 25%;
    height: fit-content;
    border-radius: 0.3rem;
    background-color: #d9e8ec;
}

.kanban_element_title {
    text-align: center;
    font-weight: bolder;
    margin-bottom:  0.3rem;
}

.kanban_tasks {
    padding: 10px;
    background-color: #f5f8f9;
    border-radius: 0.3rem;
    cursor: pointer;
}

.kanban_add_task {
    width: 100%;
    padding: 0.3rem 0;
    border: none;
    border-radius: 0.3rem;
    background:rgba(0, 0, 0, 0.3);
    cursor: pointer;
}